body {
  background-color: #FAF7E8;
  color: #2A2724;
  font: 300 17px/1.7 "Charter", "Georgia", serif;
  text-rendering: optimizeLegibility;
}

a:visited {
  color: green;
}

.post-list img {
  object-fit: contain;
  margin-right: 1em;
  float: left;
}

.post-list p {
  margin: 0;
  padding: 0;
}

.post-list h2 {
  font-family: 'Acme', sans-serif;
  font-size: 110%;
  padding: 0;
  margin: 0 0 0.5em 0;
  /* margin-bottom: 0.3em; */
}

.post-list .desc {
  overflow: hidden;
}

.post-list li {
  min-height: 150px;
}

ul.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 3em;
}

.read_more {
  font-size: 90%;
  text-transform: uppercase;
}

footer {
  height: 300px;
  background-color: #2A2724;
}

.page-content {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4em;
}

.page-content h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 200%;
}

.page-content img {
  /* width: 100%; */
  max-width: 500px;
  padding-bottom: 1em;
  display: block;
  clear: right;
  margin: 0;
}

.preview_item {
  width: 30em;
  margin: 0 auto;
  background-color: #FAF7E8;
  margin-bottom: 2em;
}
